
.vs/

Data/DAC.DB/bin/

Data/DAC.DB/obj/

DAC.UI/bin/

DAC.UI/obj/

Data/DAC.IdentityDB/obj/

DAC.UI/DAC.UI.csproj.user

Data/DAC.IdentityDB/bin/

Infrastructure/DAC.Bootstrappers/obj/

Infrastructure/DAC.Bootstrappers/bin/

DAC.Bootstrappers/obj/

DAC.API/bin/

DAC.API/logs/

DAC.API/obj/

Business/DAC.Models/bin/

Business/DAC.Models/obj/

Business/DAC.Business/obj/

Business/DAC.Business/bin/

Business/DAC.Mappers/bin/

Business/DAC.Mappers/obj/

Infrastructure/DAC.Constants/bin/

Infrastructure/DAC.Constants/obj/

DAC.UI/logs/
